/* сброс базових стилів */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

/* верхній нав-бар */
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  box-shadow: 0px 5px 10px -px rgba(0, 0, 0, 1);
}

.header-logo {
  width: 80%;
  min-width: 25px;
  display: flex;
  padding: 0;
  margin-right: 20px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu li {
  padding: 5px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin-right: 15px;
  list-style: none;
}

.navbar-menu a {
  font-size: 20px;
  color: rgb(209, 209, 209);
  text-decoration: none;
}

.navbar-menu a:not(.active):hover {
  color: rgb(255, 255, 255);
}

a.active {
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 6px;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/*пошукова строка, кнопка логіна */
.search-login-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex: 0 0 20%;
}

.search-container {
  margin-right: 0;
  display: flex;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 45px;
  font-size: 16px;
  outline: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.login-container {
  margin-right: 10px;
  width: 100%;
}

.login-icon {
  max-width: 50px;
  min-width: 25px;
}

/* головне тіло, стилі карток з новинами */
main {
  margin-left: 40px;
  margin-right: 40px;
  padding-block: 20px;
}

.title-container {
  margin-top: 20px;
  border-bottom: 0.15rem solid;
}

.page-header {
  font-size: 36px;
  color: #333;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 10px;
}

/* картки з новинами */
.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: start;
  padding-top: 2rem;
}

.card {
  flex: 1 0 calc(33.333% - 20px);
  min-height: 400px;
  box-shadow: 0 0 4px #000000;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e6e6e6;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 1px 1px 8px #e8e8e8;
  background-color: #fff;
  transform: translateY(-2px);
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.news-source {
  margin-block: 12px;
}

/* футер */
footer {
  width: 100%;
  height: auto;
  background-color: #000000;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

footer a {
  color: white;
  margin: 10;
  text-decoration: none;
}

.footer-navbar li {
  display: inline-block;
}

footer nav a:hover {
  border-bottom: 1px solid white;
}

.logo {
  width: 100%;

  display: flex;
  justify-content: center;
}

.graphiclogo {
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}

.social img {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 5%;
}

.authors {
  color: white;
}

/* cторінка реєстрації */

.reg-page {
  margin: 0;
  padding: 0;
  background-color: white;
}

.reg-main-container {
  box-sizing: border-box;
  width: 300px;
  height: 253px;
  background: #fff;
  border-radius: 10px;
  margin: 5.5% auto;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  background-color: #000000;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.reg-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.log {
  text-align: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  padding: 4% 4%;
  width: 260px;
  border-radius: 5px 5px 0 0;
}

.pass {
  text-align: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  padding: 4% 4%;
  width: 260px;
  border-radius: 0px 0px 5px 5px;
}

.reg-bottom {
  text-align: center;
  margin-top: 20px;
}

.reg-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.reg-btn input {
  font-family: 'Roboto Mono', monospace;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: inherit;
  padding: 0;
}

.reg-btn:hover {
  background-color: #333333;
}
